<mat-toolbar color="primary" class="topbar">
  <span class="app-title">School Project Management</span>

  <span class="spacer"></span>

  <mat-form-field appearance="outline" class="global-year-select">
    <mat-select
      [ngModel]="selectedSchoolYearId"
      (ngModelChange)="selectSchoolYear($event)"
      [disabled]="schoolYears().length === 0">
      <mat-option *ngFor="let year of schoolYears()" [value]="year.id">
        {{ year.year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
