.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  flex: 1;
  overflow: hidden;
}

.sidenav {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.main-content {
  background-color: #f5f5f5;
  overflow: auto;
}
