<div class="filter-bar">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input 
      matInput 
      placeholder="Search projects..."
      [(ngModel)]="filter.searchTerm"
      (ngModelChange)="onFilterChange()">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="schoolYears && schoolYears.length > 0">
    <mat-label>School Year</mat-label>
    <mat-select 
      [(ngModel)]="filter.schoolYearId"
      (ngModelChange)="onFilterChange()">
      <mat-option [value]="undefined">All</mat-option>
      <mat-option *ngFor="let year of schoolYears" [value]="year.id">
        {{ year.year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="classes && classes.length > 0">
    <mat-label>Class</mat-label>
    <mat-select 
      [(ngModel)]="filter.classId"
      (ngModelChange)="onFilterChange()">
      <mat-option [value]="undefined">All</mat-option>
      <mat-option *ngFor="let class of classes" [value]="class.id">
        {{ class.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select 
      [(ngModel)]="filter.status"
      (ngModelChange)="onFilterChange()">
      <mat-option [value]="undefined">All</mat-option>
      <mat-option [value]="ProjectStatus.DRAFT">Draft</mat-option>
      <mat-option [value]="ProjectStatus.OPEN">Open</mat-option>
      <mat-option [value]="ProjectStatus.IN_PROGRESS">In Progress</mat-option>
      <mat-option [value]="ProjectStatus.COMPLETED">Completed</mat-option>
      <mat-option [value]="ProjectStatus.ARCHIVED">Archived</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="clearFilters()">
    <mat-icon>clear</mat-icon>
    Clear
  </button>
</div>
