<div class="page-container">
  <div class="page-header">
    <h1>Students</h1>
  </div>

  <mat-card>
    <mat-card-content>
      <div class="filter-row">
        <mat-form-field appearance="outline" class="search">
          <mat-label>Search</mat-label>
          <input matInput [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" placeholder="Name, email, number">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>

        <div class="filter-controls">
          <mat-form-field appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select [(ngModel)]="selectedClassId" (ngModelChange)="applyFilter()">
              <mat-option [value]="undefined">All Classes</mat-option>
              <mat-option *ngFor="let c of availableClasses" [value]="c.id">{{ c.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>School Year</mat-label>
            <mat-select [(ngModel)]="selectedSchoolYearId" (ngModelChange)="applyFilter()">
              <mat-option [value]="undefined">All Years</mat-option>
              <mat-option *ngFor="let year of schoolYears" [value]="year.id">{{ year.year }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-list *ngIf="filteredStudents.length > 0">
        <mat-list-item *ngFor="let s of filteredStudents">
          <div matListItemTitle>{{ s.firstName }} {{ s.lastName }}</div>
          <div matListItemLine>{{ s.studentNumber }} &bull; {{ getDisplayClassName(s) }} &bull; {{ s.email }}</div>
        </mat-list-item>
      </mat-list>

      <div class="no-data" *ngIf="filteredStudents.length === 0">
        <mat-icon>info</mat-icon>
        <p>No students found</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
