mat-nav-list {
  padding-top: 8px;

  a {
    margin: 4px 8px;
    border-radius: 4px;
    
    &.active {
      background-color: rgba(63, 81, 181, 0.1);
      color: #3f51b5;
      
      mat-icon {
        color: #3f51b5;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
