<div class="filter-bar">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Search projects..."
      [(ngModel)]="filter.searchTerm"
      (ngModelChange)="onFilterChange()">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <div class="filter-controls">
    <mat-form-field appearance="outline" *ngIf="schoolYears && schoolYears.length > 0">
      <mat-label>School Year</mat-label>
      <mat-select
        multiple
        [(ngModel)]="filter.schoolYearIds"
        (ngModelChange)="onFilterChange()">
        <mat-option [value]="allValue">All</mat-option>
        <mat-option *ngFor="let year of schoolYears" [value]="year.id">
          {{ year.year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select
        multiple
        [(ngModel)]="filter.statuses"
        (ngModelChange)="onFilterChange()">
        <mat-option [value]="allValue">All</mat-option>
        <mat-option *ngFor="let status of statuses" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Project Type</mat-label>
      <mat-select
        multiple
        [(ngModel)]="filter.projectTypes"
        (ngModelChange)="onFilterChange()">
        <mat-option [value]="allValue">All</mat-option>
        <mat-option *ngFor="let type of projectTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="clearFilters()">
      <mat-icon>clear</mat-icon>
      Clear
    </button>
  </div>
</div>
